
<h2>LOGIN PAGE</h2>


<form action="/login" method= "POST">
  <fieldset>
    <legend>Login to your account:</legend>
    Email:<br>
    <input type="email" name="email_address" placeholder ="Please enter you email address" required= trues>
    <br>
    Password:<br>
    <input type="password" name="password" placeholder ="Password" required= true>
    <br><br>
    <input type="submit" value="Login" class="btn btn-primary">
  </fieldset>
</form>
 <a href="/register" class="btn btn-primary">Register</a>

