<h2>Register your free account</h2>


<form action="/register" method = "POST">
  <fieldset>
    <legend>Personal information:</legend>
    First Name:<br>
    <input type="text" name="fname" placeholder="Frist Name" required= true>
    <br>
    Last Name:<br>
    <input type="text" name="lname" placeholder="Last Name" required= true>
    <br>
    Email Address:<br>
    <input type="email" name="email_address" placeholder="you@gmail.com" required= true>
    <br>
    Password:<br>
    <input type="password" name="password" placeholder="Password" required= true>
    <br>
    Confirm Password:<br>
    <input type="password" name="c_password" placeholder=" Confrim Password" required= true>
    <br>
    Whatsapp Number:<br>
    <input type="number" name="whats_number" placeholder="Whatsapp Number" required= true>
    <br>
    <br>
    <input type="submit" value="Register">
  </fieldset>
</form>

